@media screen and (min-width: 600px){

    header{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #menu {
		display: none; /* hide hamburger button */
	}

	.navigation {
        display: flex;
		flex-direction: row;
        justify-content: space-around;
	}
    
    .navigation li {
        display: block;
        flex: 1 1 100%;
    }
    
    .temple-grid{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
    }

    img {
        max-width: 250px;
    }

    h2
    {
        grid-column-start: 1;
        grid-column-end: span 3;
    }

    
}