body{
    font-family: 'Roboto', sans-serif;
}

header, main, footer
{
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid rgb(165, 164, 164);
    padding: 1rem;
    background-color: rgb(193, 218, 247);
}

main{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

section{
    padding:1rem;
    background-color: white;

}
