:root {
    --primary-color: white;
    --secondary-color: rgb(251, 251, 251);
    --accent1-color: #054A91;
    --accent2-color: #F17300;

    --heading-font: 'Roboto', sans-serif;
    --paragraph-font: 'Gupter', serif;
    
    --nav-bg-color: var(--primary-color);
    --nav-link-color: var(--accent1-color);
    --nav-visited-color: #0d1c92;
    --nav-hover-link-color: var(--accent2-color);
    --nav-hover-background-color: var(--accent2-color);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

header, main, footer {
    background-color: rgb(27, 76, 150);
    color: white;
    width: 100%;
    max-width: 960px;
    margin: 1rem auto;
    /*border: 1px solid rgb(165, 164, 164);*/
    padding: 1rem;
}

header {
    display: grid;
    grid-template-columns: 1fr;
}

h1 {
    display: flex;
    align-items: center;
}

#menu {
	display: block;
	font-size: 2rem;
	font-weight:700;
	text-decoration: none;
	padding: .5rem .75rem;
	background-color: #eee;
	color: #000;
}

#menu::before {
	content: "≡";
}

#menu.show::before {
	content: "x";
}


nav {
	background-color: rgb(27, 76, 150);
}
.navigation {
	list-style: none;
	margin: 0 auto;
	max-width: 760px;
}

.navigation li {
	display: none;
}
.navigation a {
	display: inline-flex;
	padding: 1rem;
    vertical-align: middle;
	text-align: center;
	text-decoration: none;
	font-weight: 700;
	transition: 0.5s;
    color: white;
}

.navigation a:hover, navigation a:active {
	color: white;
	background-color: black;
}

.show li {
	display: block;
}

/*.navigation a:hover {
	background-color: white;
	color: #333;
	font-weight: 700;
}*/

h2 {
    display: flex;
    justify-content: center;
}

main{
    max-width: 900px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    justify-items: center;
    background-color: #fff;
    color:rgb(27, 76, 150)
}

footer p {
    margin: 0 auto;
    text-align: center;
}


